{% extends "layouts/base.html" %}

{% block about %}
  <article class="about-wrapper page-fade page-fade-in-out">
    <div>
      <h1>Biography</h1>
      {{ content | safe }}
    </div>

    <div>
      <div>
	<h1>Education</h1>
	{% for item in education %}
	<p>{{ item.school }}<br>{{ item.qualification }}<br>{{ item.timePeriod }}</p>
	{% endfor %}
      </div>      

      <div>
	<h1>Exhibitions</h1>
	{% for item in exhibitions %}
	<p>{{ item.year }} / {{ item.title }} - {{ item.location }} - {{ item.type }}</p>
	{% endfor %}
      </div>
      
      <div>
	<h1>Work</h1>
	{% for item in work %}
	<p>{{ item.timePeriod }} / {{ item.employer }}, {{ item.role }}</p>
	{% endfor %}
      </div>
    </div>

    <div>
      <div>
	<h1>Press</h1>
	{% for item in press %}
	<p>{{ item.year }} / {{ item.publication }}, {{ item.title }}</p>
	{% endfor %}
      </div>
      
      <div>
	<h1>Contact</h1>
	<a href="mailto:{{ site.email }}" class="visible">{{ site.email }}</a>
      </div>      
    </div>
  </article>

{% endblock %}
