<div style="
	    position: absolute;
	    top: 0;
	    right: 0;">
  <input id="logo-slider" name="logo-size" type="range" value="70" min="10" max="200" step="1"/>
  <div id="slider-value-display">logo height: </div>

  <input type="checkbox" value="" name="fade-images" id="fade-check" autocomplete="off"/>
  <label for="fade-images">Fade images</label>
</div>

<script>
  const logo = document.querySelector('#home-link');
  const slider = document.querySelector('#logo-slider');
  const display = document.querySelector('#slider-value-display');
  const fadeToggle = document.querySelector('#fade-check');
  let fadeImages;
  let logoSize;

  // display.innerText = `Monogram height: ${slider.value}px`
  slider.addEventListener("input", (e) => {
    let value = e.target.value;
    logo.style.height = `${value}px`;
    display.innerText = `Monogram height: ${value}px`;
    localStorage.setItem('logo-size', value);
  })

  slider.addEventListener("change", () => {
    location.reload();
  })

  fadeToggle.addEventListener('click', (e) => {
    localStorage.setItem('fade-images', e.target.checked);;
    fadeImages = e.target.checked;
  })

  document.addEventListener('DOMContentLoaded', () => {
    if (logoSize = localStorage.getItem('logo-size')) {
      logo.style.height = `${logoSize}px`;
      slider.value = logoSize;
    display.innerText = `Monogram height: ${logoSize}px`;
    } else {
      logo.style.height = `${slider.value}px`;
      display.innerText = `{logoSize}px`;
    }

    if (fadeImages = localStorage.getItem('fade-images')) {
      fadeToggle.checked = fadeImages == "true" ? true : false;
      console.log(fadeToggle.checked);
      fadeImages = fadeImages == "true" ? true : false;
      console.log(fadeImages);      
    } else {
      fadeImages = false;
    }
  })
</script>
