<div class="gallery-wrapper page-fade page-fade-out">
    <div id="gallery-container">
    <div id="track">
      {% for image in images %}
      <img alt="" src="{{ image.path }}" class="track-img"/>
      {% endfor %}    
    </div>

    <div id="gallery-nav-container">
      <button id="prev" class="gallery-nav-btn"></button>
      <button id="next" class="gallery-nav-btn"></button>
    </div>
  </div>

  <div class="img-info">
    <div class="img-counter"></div>
    <div class="img-credit"></div>
  </div>
</div>

<script>
  let imageCredits = {{ images | getValueFromKey('credit') | jsonify | safe }}
</script>
<script src="/js/gallery.js"></script>
