<header>
  <nav>
    <ul class="nav-list">
      {% for item in nav.items %}
      <li><a href="{{ item.url }}" class="nav-item">{{ item.text }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>

<script>
  let pageUrl = {{ page.url | jsonify | safe }};

  window.addEventListener('load', () => {
    const navItems = document.querySelectorAll('.nav-item');
    const fadePages = document.querySelectorAll('.page-fade');

    fadePages.forEach((item) => {
      if (item.classList.contains('page-fade-in-out')) {
	item.classList.add('trig-fade-in');	
      }
    })
    
    navItems.forEach((item) => {
      item.addEventListener('click', (e) => {
	if (pageUrl !== '/') {
	  e.preventDefault();
	  fadePages.forEach((item) => {
	    if (item.classList.contains('page-fade-in-out')) {
	      item.classList.remove('trig-fade-in');  
	    } else if (item.classList.contains('page-fade-out')) {
	      item.classList.add('trig-fade-out');
	    }
	    
	  })
	  setTimeout(() => {
	    window.location.href = item.href;
	  }, 1000);	  
	}
      })
    })
  })

</script>
