<div style="
	    position: absolute;
	    top: 0;
	    right: 0;">
  <input id="logo-slider" name="logo-size" type="range" value="70" min="10" max="200" step="1" autocomplete="on"/>
  <div id="slider-value-display">logo height: </div>

  <input type="checkbox" value="" name="fade-images" id="fade-check" />
  <label for="fade-images">Fade images</label>
</div>

<script>
  const logo = document.querySelector('#home-link');
  const slider = document.querySelector('#logo-slider');
  const display = document.querySelector('#slider-value-display');
  const fadeToggle = document.querySelector('#fade-check');
  let fadeImages = false;
  let logoSize;

  // display.innerText = `Monogram height: ${slider.value}px`
  slider.addEventListener("input", (e) => {
    let value = e.target.value;
    logo.style.height = `${value}px`;
    display.innerText = `Monogram height: ${value}px`;
    localStorage.setItem('logo-size', value);
  })

  fadeToggle.addEventListener('click', (e) => {
    fadeImages = e.target.checked;
  })

  window.addEventListener('load', () => {
    console.log(logo);

    fadeImages = fadeToggle.checked;
    if (logoSize = localStorage.getItem('logo-size')) {
      logo.style.height = `${logoSize}px`;
      slider.value = logoSize;
    display.innerText = `Monogram height: ${logoSize}px`;
    } else {
      logo.style.height = `${slider.value}px`;
      display.innerText = `{logoSize}px`;
    }
  })
</script>
